{% extends "blog/base.html" %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            <h2>Create Group</h2>
          </div>
          <div class="card-body">
            <form method="post" action="{% url 'create-group' %}">
              {% csrf_token %}

              <div class="form-group">
                <label for="group_name">Group Name:</label>
                <input type="text" name="group_name" class="form-control" required>
              </div>

              <div class="form-group">
                <label for="selected_friends">Select Friends:</label>
                <select name="selected_friends" class="form-control" multiple required>
                  {% for friend in friends %}
                    <option value="{{ friend.id }}">{{ friend.username }}</option>
                  {% endfor %}
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Create Group</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
