{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ post.author }}</a>
              <small class="text-muted">post on {{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">Sport type: {{ post.sport_type }}</a></h2>
            <p class="article-content">Location: {{ post.location }}
            <p class="article-content">Require {{ post.participant_number }} people</p>
            <p class="article-content">Event Date: {{ post.event_date }} </p>
            <p class="article-content">Status: {{ post.status }} </p>
            <p class="article-content">Time: {{ post.event_time }} - {{ post.event_end_time }} </p>
                {% if post.participant_number.all|length == 0 %}
                    <a href="{% url 'join-event' post.id %}"><button>Join</button></a>
                {% else %}
                    <button>Joined</button>
                    <p>{{ post.joined_users_count }} people joined this event</p>
                {% endif %}

          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}