cd{% extends "blog/base.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="content-section">
          <form method="post" action="{% url 'edit_announcement' announcement.id %}">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Edit Announcement</legend>
              {% bootstrap_form form %}
            </fieldset>
            <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
